@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 430px;
  height: 932px;
  background: gray;
}

.container-principal {
  width: 430px;
  height: 932px;
  background: #fff;
}

.top {
  height: 118px;
  border-radius: 15px 15px 0px 0px;
  background: #592e83;
  color: #fff;
}

.top .top-content {
  display: inline-block;
}

.top-content .return {
  display: inline-flex;
  text-align: center;
  padding: 65px 24px 31px;
}

.return > span {
  padding-top: 2px;
  padding-left: 5px;
}

.top-content .logo-config {
  padding-left: 160px;
}

.contentPage {
  margin-top: 15px;
}

.title {
  box-shadow: #000;
}

.editConfig {
  display: flex;
  flex-shrink: 0;
  margin-top: 5px;
}

.txt {
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin-left: 15px;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  background: #592e83;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 0 10px 10px 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 20px;
}

h1 {
  color: #240047;
  font-size: 18.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.option {
  width: 80px;
  padding-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 13px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #240047;
}

input:focus + .slider {
  box-shadow: 0 0 1px #240047;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12.5px);
  -ms-transform: translateX(12.5px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

hr {
  width: 360px;
  height: 1px;
  border: 17px;
  border-top: 1px solid #592e83;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
