:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  /* border-radius: 0.9375rem; */
}
.header {
  position: relative;
  width: 24.375rem;
  height: 7.375rem;
  margin: 0 0 0 0;
  background: #592e83;
  z-index: 16;
}
.logo {
  position: absolute;
  width: 10vw;
  height: auto;

  top: 50.85%;
  left: 79.77%;
  background: url(../../assets/logo.svg) no-repeat center;
  background-size: contain;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  width: 1.0625rem;
  height: 1.375rem;
  top: 4.0625rem;
  left: 1.5rem;
}

.icon-button img {
  padding-right: 0.25rem;
  width: 0.875rem;
  height: auto;
}

.rotas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 1.25rem;
  top: 4.0625rem;
  left: 3rem;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 1rem;
  font-weight: 400;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav-box {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 1.875rem;
  border-radius: 3rem;
  justify-content: space-between;
  height: 3.5rem;
  width: 80%;
  margin-top: 2.25rem;
  background-color: #592e83;
}

.search {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search img {
  width: 3.125rem;
  height: auto;
  display: flex;
  align-items: center;
}

.Buscar_rotas {
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.nav_buscar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.25rem;
  justify-content: space-between;
}

.favoritar {
  background: none;
  border: none;
  padding-right: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: -1.5625rem;
}

.section_3 {
  padding-top: 4rem;
  margin-left: 8%;
}

.historico {
  color: #240047;
  font-family: Poppins, var(--default-font-family);
  font-size: 1.4063rem;
  padding-left: 3rem;
  font-weight: 700;
}

.p_rotas {
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 2.5rem;
}

.switch_routes {
  position: relative;
  display: inline-block;

  width: 3.75rem;
  height: 2.125rem;
  left: -8%;
}

.switch_routes input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_routes {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: #fff 0.0625rem solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider_routes:before {
  position: absolute;
  content: "\2605";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.1875rem;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 1.5rem;
}

.switch_routes > input:checked + .slider_routes {
  background-color: #592e83;
}

.switch_routes > input:focus + .slider_routes {
  box-shadow: 0 0 0.0625rem #fff;
}

.switch_routes > input:checked + .slider_routes:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.switch_routes > input:checked + .slider_routes:before {
  background-color: #fff;
  color: #592e83;
}

.slider_routes.round_routes {
  border-radius: 2.125rem;
}

.slider_routes.round_routes:before {
  border-radius: 50%;
  background-color: #592e83;
}
