* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-slectProfile {
  width: 100vw;
  height: 100vh;
  /* border-radius: 15px; */
  background: #592e83;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  /* justify-content: center;
  align-items: center; */
}

.sair-slectProfile svg {
  margin-top: 2.3125rem;
  margin-left: 1.4375rem;
}

.header-slectProfile {
  display: flex;
  width: 100vw;
  justify-content: center;
}

#escolher-slectProfile {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#escolher-slectProfile p {
  color: var(--Schemes-On-Primary, #fff);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 165px;
}

.opcao-slectProfile {
  margin-left: 26px;
  margin-top: 87px;
  text-align: center;
}

.opcao-slectProfile label {
  justify-content: space-between;
  padding: 0 25px;
}

#escolher-slectProfile h4 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 16px;

  color: #fff;
}

#entrar-slectProfile {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 184px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 30px;
  margin-top: 120px;
  fill: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border: none;
}

.container-slectProfile {
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.container p {
  margin-top: 24px;
}

a {
  text-decoration: none;
  color: #069bff;
}
@media (max-width: 48rem) {
  #escolher-slectProfile p {
    font-size: 18px;
    margin-top: 128px;
  }

  #escolher-slectProfile h4 {
    font-size: 14px;
  }

  #entrar-slectProfile {
    font-size: 15px;
    width: 160px;
    height: 40px;
  }
}

@media (max-width: 30rem) {
  #escolher-slectProfile p {
    font-size: 16px;
    margin-top: 112px;
  }

  #escolher-slectProfile h4 {
    font-size: 13px;
  }

  #entrar-slectProfile {
    font-size: 14px;
    width: 144px;
    height: 36px;
  }
}
