@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container-principal-edit {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.top-edit {
  width: 100vw;
  height: 118px;
  /* border-radius: 15px 15px 0px 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #592e83;
  color: #fff;
}

.top-content-edit .return {
  display: inline-flex;
  text-align: center;
  padding: 65px 24px 31px;
}

.return > span {
  padding-top: 2px;
  padding-left: 5px;
}

.logo-editProfile {
  margin-top: 70%;
  margin-left: -60%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 39px;
}

.profile-info .name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 15px;
}

.profile-info .ra {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.edit-input {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 340px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  color: #fff;
  background: #592e83;
}

.form-group > label {
  display: inline-block;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  width: 310px;
  padding-left: 15px;
}

.edit-btn {
  border: none;
  border-radius: 15px;
  background: #592e83;
  color: #fff;
  cursor: pointer;
  text-align: right;
}
.page-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.save {
  width: auto;
  margin-top: 2%;

  background-color: #fff;
  border: #592e83 2px solid;
  color: #000000;

  padding: 8px 16px;

  border-radius: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

.save:hover {
  background-color: #734a9e;
  transform: scale(1.05);
  color: #fff;
}
@media (min-width: 360px) and (max-width: 429px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .container-principal-edit {
    width: 100vw;
    height: 100%;
    background: #fff;
  }
}
