@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.sidebar-menu {
  width: 100vw;
  height: 100%;

  background: #fff;
}

.top-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 7.375rem;

  background: #592e83;
  color: #fff;
}

.top-menu .top-content-menu {
  display: inline-block;
}

.top-content-menu .return-menu {
  display: inline-flex;
  text-align: center;
  padding: 4.0625rem 1.5rem 1.9375rem;
}

.return-menu > span {
  padding-top: 0.125rem;
  padding-left: 0.3125rem;
}

.box-box {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-menu {
  margin-top: 75%;
}
.ul-menu {
  margin: 0;
  margin-left: 1.5625rem;
  padding: 2.5rem 0 2.5rem 1%;
  list-style-type: none;
}

.sidebar-content-menu {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-left: 1.25rem;
}
.name-menu {
  text-decoration: none;
  text-align: center;
  color: black;

  font-size: 1rem;
  font-weight: 700;
}
.name-menu-bar {
  margin-left: 0.625rem;
  text-decoration: none;
  text-align: center;
  color: black;

  font-size: 1rem;
  font-weight: 700;
}

.email-menu {
  font-size: 0.75rem;
  font-weight: 400;

  color: black;
}

.editprofile-menu > a {
  text-decoration: none;
  padding-left: 1.25rem;
  color: #592e83;
  font-size: 0.875rem;
  font-weight: 700;
}

#logout-menu {
  padding-top: 1.25rem;
}

.hr-menu {
  width: 90vw;
  height: 0.0625rem;
  border: 1.0625rem;
  border-top: 0.0625rem solid #592e83;
  list-style-type: none;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: -0.375rem;
}
.icon-menu {
  width: 3.1875rem;
  height: 3.1875rem;
}
