.titleArchive {
  padding-top: 90px;
  padding-left: 15%;
  padding-bottom: 30px;
}

.titleArchive h1 {
  color: #240047;
  font-family: Poppins;
  font-size: 18.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favRoutes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favItem {
  width: 352px;
  height: 97px;
  padding-left: 18px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background: rgba(105, 77, 117, 0.45);
  box-shadow: 0px 4px 4px 0px #240047;
}

.txt_section {
  padding-left: 10px;
  padding-top: 35px;
}

.locName {
  color: #000;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.adress {
  color: rgba(0, 0, 0, 0.71);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
