* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #fff;
}

.main-loginRes {
  width: 390px;
  height: 932px;
  border-radius: 15px;
  background: #592e83;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  justify-content: center;
  align-items: center;
}

.sair-loginRes svg {
  margin-top: 37px;
  margin-left: 23px;
}

.header-loginRes {
  margin-left: 140px;
  margin-top: 10px;
}

#login-loginRes {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#login-loginRes p {
  margin-top: 24px;
}

#login-loginRes h4 {
  color: var(--Schemes-On-Primary, #fff);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 180px;
  margin-top: -10px;
}

.opcao-loginRes {
  margin-right: 7px;
  margin-top: 50px;
}

.opcao-loginRes label {
  justify-content: space-between;
  padding: 0 25px;
}

.input-loginRes {
  background-color: rgb(255, 255, 255);
  width: 368px;
  height: 51px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 25px;
}

.input-loginRes input {
  border-radius: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 24px;
}

.input-loginRes ::placeholder {
  color: #592e83;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.input-loginRes i {
  position: absolute;
  font-size: 15px;
  left: 6px;
}

#entrar-loginRes {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 184px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 30px;
  margin-top: 120px;
  fill: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border: none;
}

.container-loginRes {
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.container-loginRes p {
  margin-top: 24px;
}

a {
  text-decoration: none;
  color: #069bff;
}
