.map-container {
  width: 100vw;
  height: 100vh;
}

.icon-marker {
  width: 50px;
  height: 50px;
  border: 4px solid #592e83;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(89, 46, 131, 0.5);
  position: relative;
  z-index: 1000;
}

.icon-marker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-marker::after {
  content: "";
  position: absolute;
  bottom: -5px;

  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: rgba(89, 46, 131, 0.2);
  border-radius: 50%;
  z-index: -1;
}
