.alert-overlay {
  width: 100vw;
  height: 20vh;
  position: absolute;
  align-items: center;

  display: flex;

  justify-content: center;
  z-index: 1000;
}

.alert-container {
  display: flex;

  align-items: center;
  justify-content: center;
  animation: slideDownUp 3s ease-in-out forwards;
}

.alert-icon {
  width: 333px;
  height: 43px;
}

@keyframes slideDownUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
