* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.help-center {
  background: var(--Schemes-On-Primary, #fff);
  width: 100vw;
  height: 100vh;
  /* border-radius: 0.9375rem; */
}

.nav-container_helpCenter {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav-box_helpCenter {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 1.875rem;
  border-radius: 3rem;
  justify-content: space-evenly;
  height: 3.5rem;
  width: 80%;
  margin-top: 2.25rem;
  background-color: #592e83;
}

.search {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search img {
  width: 3.125rem;
  height: auto;
  display: flex;
  margin-left: -10%;
}

.procurar_hc {
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 45%;
  display: flex;
  white-space: nowrap;
}

.nav_buscar_helpCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 12.5rem;
  gap: 0.9375rem;
}

.perguntas img {
  margin-left: 13.75rem;
  margin-bottom: -2.375rem;
  padding-bottom: 0.5rem;
}

.perguntas p {
  font-size: 1rem;
  margin-left: 1.25rem;
  width: 13.125rem;
  color: #000;
  font-style: normal;
  font-weight: 43.75rem;
  line-height: normal;
  font-weight: bolder;
}

#principal {
  width: 22rem;
  height: 2.625rem;
  flex-shrink: 0;
  fill: #592e83;
  margin-left: 1%;
}

#principal p {
  margin-top: 1.875rem;
  text-align: left;
  margin-left: 1.875rem;
}

.pergunta {
  background-color: #592e83;
  border-radius: 0.4375rem;
  border-color: #592e83;
  background: #592e83;
  width: 90vw;
  height: 2.8125rem;
  margin-left: 1.25rem;
}

.pergunta p {
  width: 16.0625rem;
  height: 1.1875rem;
  flex-shrink: 0;
  color: var(--Schemes-On-Primary, #fff);
  font-size: 1.125rem;
  text-align: center;
  align-items: center;
  padding-top: 0.75rem;
}
@media (min-width: 22.5rem) and (max-width: 26.8125rem) {
  .help-center {
    width: 100vw;
    height: 100vh;
    background: #fff;
  }
}
