.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-in {
  animation: slide-in 0.3s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms cubic-bezier(0.65, 0, 0.35, 1),
    transform 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.loading-screen {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #592e83;
}

.loading-logo {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: -135px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
