:root {
  --bottom-sheet-initial-position: 72%;
}

.bottom-sheet {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(var(--bottom-sheet-initial-position));
}

.bottom-sheet.open {
  animation: slideIn 0.3s ease forwards;
}

.bottom-sheet.closing {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(var(--bottom-sheet-initial-position));
  }
  to {
    transform: translateY(0);
    top: 50%;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(var(--bottom-sheet-initial-position));
  }
}

.bottom-sheet-header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-acompanhar {
  background-color: #592e83;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

.bottom-sheet-content {
  width: 352px;
  height: 132px;
  border-radius: 16px;
  border: 1px solid #592e83;
  margin: 0 auto;
}

.bottom-sheet-content h3 {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  margin-left: 11%;
}

.bottom-sheet-content p {
  color: #000;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  margin-left: 11%;
}

.distino {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 11%;
}

.destiny-icon {
  width: 24px;
  height: 24px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: #592e83;
  margin: 8px auto;
}

.user {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.perfil-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info-rota {
  color: #592e83;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
}
