* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header-home {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  margin-top: 1.75rem;
  z-index: 1;
}

.icon-home {
  width: 5.125rem;
  height: 5.125rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0rem 0.25rem 0.3125rem rgba(28, 49, 102, 0.5))
    drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 768px) {
  .icon-home {
    width: 4rem;
    height: 4rem;
  }

  .header-home {
    margin-top: 1.5rem;
    width: 95%;
    margin-left: 2.5%;
  }
}

@media (max-width: 480px) {
  .icon-home {
    width: 3.5rem;
    height: 3.5rem;
  }

  .header-home {
    margin-top: 1rem;
    width: 95%;
    margin-left: 2.5%;
  }
}
